@import "../../styles/variables.scss";
.contact {
    a {
        display: inline-block;
        background-color: $text-color-secondary;
        padding: 12px 30px 13px 25px;
        color: $text-color-primary;
        border-radius: 100px;
        border: 2px solid $text-color-secondary;
        font-weight: 700;

        transition: all 0.1s;

        margin-top: 3rem;

        .scissors {
            position: relative;
            top: 2px;
            left: -5px;
        }

        &:hover {
            color: $text-color-secondary;
            background-color: transparent;
        }
    }

    .contact-info {
        padding: 2rem 0;
        align-self: flex-start;

        & > * {
            transition: all 0.1s;
            cursor: pointer;
            background-color: transparent;
            border: none;
            color: $text-color-secondary;
            display: block;
            padding: 1rem 0;
            margin: 0;
            text-align: left;
        }

        & > *:hover {
            transform: scale(1.1);
        }

        a {
            font-weight: 700;
            // font-family: "Open Sans", sans-serif;
            font-size: 1.5rem;
        }
    }

    .icon {
        position: relative;
        right: 2px;
        top: 4px;
        font-size: 2rem;
    }

    .phone {
    }

    .address {
    }

    .map {
        height: 25vh;
        width: 100%;
        border-radius: 20px;
    }
}
